.home-component{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

.home-component-general{
margin-top: 10px;
max-width: 375px;
   
    .home-logo{
    margin: 80px 0px 15px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
       .logo{
        display: flex;
        align-items: center;
        img{
          object-fit: contain;
          width: 200px;
          height: 80px;
          }
       }       
       .home{
        display: flex;
        align-items: center;

        button{
          margin-left: 90px;
          background: white;
          border: none;
        }
        img{
          object-fit: contain;
          width: 20px;
          height: 20px;
          }
       }

    }

    .home-images{
    display: flex;
    flex-direction: column;
    align-items: center;

    img{
    object-fit: contain;
    width: 200px;
    height: 200px;
    }
    }
            
    .home-p{
    text-align: center;
    font-size: 15px;
    }
            
    .home-buttons{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
            
    .button-one{
    font-size: 14px;
    background-color: #631A86;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border: 1px solid #631A86;
    color: white;
    width: 140px;
    height: 40px;
    margin: 5px 0px 5px 0px;
    }

    .button-two{
    font-size: 14px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border: 1px solid #631A86;
    color: #631A86;
    width: 140px;
    height: 40px;
    margin: 5px 0px 5px 0px;
    }
    }
            
    #home-title{
    text-align: center;
    font-size: 30px;
    color: #2CDA9D;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    }
  }
}