.register-component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .register-component-general{
    margin-top: 10px;
    max-width: 375px;

    #register-parraf-one{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    }

    #register-parraf-two{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        margin-top: 2px;
    }

    input{
        background-color: #F2F2F2;
        width: 200px;
        border: 1px solid #631A86 ;
        border-radius: 8px;
        height: 30px;
        text-align: center;
        margin: 15px 0px 15px 0px;
    }

    .register-title{
        text-align: center;
        font-size: 30px;
        color: #2CDA9D;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 600;
    }
        
        .register-logo{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
            img{
            object-fit: contain;
            width: 200px;
            height: 80px;
            }
        }
    
        .register-images{
        display: flex;
        flex-direction: column;
        align-items: center;
    
        img{
        object-fit: contain;
        width: 200px;
        height: 200px;
        }
        }

        .register-parraf{
        font-size: 14px;
        font-weight: 600;
        color:#631A86;
        }

        .register-buttons{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
                button{
                background-color: #631A86;
                font-family: Arial, Helvetica, sans-serif;
                border-radius: 5px;
                border: 1px solid #631A86;
                color: white;
                width: 140px;
                height: 40px;
                margin: 5px 0px 5px 0px;
                }
        }
                
        .register-buttons{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
                
        .button-one{
        font-size: 16px;
        background-color: #631A86;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 5px;
        border: 1px solid #631A86;
        color: white;
        width: 140px;
        height: 40px;
        margin: 5px 0px 5px 0px;
        }
    
        .button-two{
        font-size: 16px;
        background-color: white;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 5px;
        border: 1px solid #631A86;
        color: #631A86;
        width: 140px;
        height: 40px;
        margin: 5px 0px 5px 0px;
        }
        }
                
        #register-title{
        text-align: center;
        font-size: 30px;
        color: #2CDA9D;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 600;
        }

        form{
            display: flex; 
            flex-direction: column;
            align-items: center;

            .error{
                font-size: 400;
            }
        }
      }
    }